package seeders

import (
	"gorm.io/gorm"
)

func Seed{{.FuncName}}(db *gorm.DB) error {
	// TODO: implement seeder
	return nil
}

func DropSeed{{.FuncName}}(db *gorm.DB) error {
	// TODO: implement rollback seeder
	return nil
}