# ======================
# APP
# ======================
APP_NAME=testapp
APP_ENV=development
APP_PORT=8080

# ======================
# DATABASE
# ======================
DB_CONNECTION=postgres
DB_HOST=db
DB_PORT=3306
DB_NAME=dbname
DB_USER=dbuser
DB_PASS=dbpass
DB_PREFIX=tbl

# ======================
# JWT
# ======================
JWT_SECRET_KEY=rahasia
JWT_EXPIRED_TOKEN=5h